# Requirement file for Auth0 enabled main.py

flask
dotenv
auth0-python==2.0.1
PyJWT

# Currently not necessary, but they were in the original examples and left here
# because they can be useful in case of future enhancements
#flask-cors
